{% extends "base.html" %}

{% block title %}About Wai City{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1><b>About Wai City</b></h1>
        <h5>Wai is a town in Satara district of Maharashtra state in India. Located on the Krishna River, Wai was a prominent town during the Peshwa era. Two important Marathi Brahmin from ruling families had their origins here: Rani Lakshmibai of Jhansi (Tambe family) and Gopikabai, wife of Nanasaheb Peshwa (Raste family).
           Locally prominent families such as the Raste, Ranade, and Phadnavis built several architecturally significant temples in Wai. The 400-year-old Mandhradevi Kalubai temple is about 12 kilometres (7.5 mi) from Wai on a hill 718 metres (2,356 ft) above sea level.[2] In recent decades, Wai has become a popular location for filming Bollywood and Marathi movies, with over 300 films having been shot in and near Wai.</h5>
        
        <h2><b>History</b></h2>
        <h5>Wai has the epithetic name "Dakshin Kashi" (Kashi or Varanasi of the South) because of the city's more than 100 temples. Wai is known in Maharashtra for its ghats on the banks of the Krishna River and its temples, especially the Dholya ganapati temple on Ganapati Ghat.
           The 17th-century warlord Afzal Khan, representing Ali Adil Shah II of the Bijapur Sultanate, is said to have made his first halt here on his way to the fort Pratapgad of the Maratha ruler Chhatrapati Shivaji Maharaj. A cache of 105 guns, swords and other weapons were found in Wai around 2005. </h5>

        <h2><b>Culture</b></h2>
        <h5>The prominent Pradnya Path Shala educational institution is based in Wai.
            Wai is well known for Tarkateertha Lakshman Shastri Joshi, founder of Marāthi Vishwakosh.[7]           
            Krishnamai Utsav is the main festival in Wai. When warlord Afzal Khan set out from Wai to attempt to defeat Chhatrapati Shivaji Maharaj, Shendye Shāstri of Wai prayed to the Krishna River for Chhatrapati Shivaji Maharaj's victory, sparking the Krishnamai festival. It is celebrated on each ghat for four to eight days. The festival is also celebrated in the nearby town of Karad.            
            A 105-year-old Govardhan Sanstha (Goshala) celebrates Shri Krishna Janma Ashtami (Gokul Ashtami). The two-day Jatra festival attracts people from all over Maharashtra. The annual fairs, Yatras/Jatras, began with the Yatra of Mahalaxmi of Bhuinj, Jamb, Kikli and Belmachi on Dassraa. Yatras in the Wai taluka include Mandhardevi, Bagad of Bavdhan, Kavathe, Kalambhe and Surur.        
            A number of movies have been filmed in Wai, including Jis Desh Mein Ganga Rehta Hain, Gangaajal, Omkara (2006 film), Dabangg 1, Dabangg 2, Swades, Ishqiya, Singham, Deool, Bol Bachchan, Zila Ghaziabad, Gulaab Gang, R Rajkumar, and Chennai Express, Bajirao Mastani. Others are Ardhasatya, 22 June 1897, Omkara (2006 film), Mrutyudand, Swades, Gangaajal, Dabangg and Gulaab Gang Sargam, Chennai Express were shot in Wai and the nearby villages of Dhom, Bavdhan, Chikhli, Menvali, Bhuinj, Pachwad and the surroundings of Dhom, Balakwadi, Jambhali and Nagewadi dams.
            </h5>

        <h2><b>Temples</b></h2>
        <h5>Temples built in the Wai area tend to be built in Hemādpanti-style architecture. Use of huge stone slabs is the major characteristic of Hemādpanti architecture.
            Four temples are near Brahmanshahi ghat: Chakreshwar, Chimneshwar, Kaunteshwar/Harihareshwar and Kaleshwar. Govardhan Sanstha ghat has Krishna Mandir. Near Brhmanshahi there are Vitthal and Ganpati temples. Ramdoh ghat has Rameshwar temple, Ramkund and Chilavali Devi temple. Gangapuri ghat has Lord Shiva, Dwarka, Bahiroba, Dattatray Temple. Ganpati Aali ghat has Ganpati and Kashi Vishveshvar temples. In Dharma Puri are Lord Vishnu temple and Mahalaxmi temple. Rokdoba temple (maruti) is built by Ramdas Swami. Dholya Ganpati temple is one of Maharashtra's prime temples. The large idol of Lord Ganesh is on Krishna River's ghats</h5>    
        <h2><b>Tourist spots</b></h2>
        <h5>
            <ul>
                <li>Wai Caves: nine Buddhist caves, situated at Lohare, 7 km north of Wai. The Chaitya hall contains stupa artifacts and has been converted into a Shiva temple.</li>
                <li>Dholya Ganpati Mandir: This temple was built by Raste in the 18th century beside the Krishna River. Wai is the first holy place of pilgrims on Krishna.</li>
                <li>Kashi Vishweshwar Mandir: Ancient temple of Lord Shiva. The main feature of this temple is the nandi, made by the same stone from which the idol of Mahaganapati was made. This Nandi was decorated by garlands and other jewelry. There is also a stone pendol.[citation needed]</li>
                <li>Krishna Ghat: Site of many Hindu temples.</li>
                <li>Dhundi Vinayak Ganpati Mandir: 11th century temple of Ganpati.</li>
                <li>Bhiravnath Mandir Kikali: via Bhuinj and Chandan Vandan Fort. This temple is tremendous example of the ancient Vastushastra. Situated in the village Kikali, near Bhuinj at about 15 km from Wai.</li>
                <li>Wakeshwar: This is the "Hemadpanthi" type temple of Lord Shiva, in Bavdhan village on the Krishna River.</li>
                <li>Bhadreshwar: The temple of Mahadev Bhadreshwar in the Krishna River on Wai-Surur Road.</li>
                <li>Sonjai: Temple of Goddess Sonjai and Kaleshwari on the hills of Sonjai in the village of Bavdhan. Hills on the main stream of the Sahyadries are about 2,000 feet tall.</li>
                <li>Mandhardevi: Temple of Goddess Kalubai on the plateau of Mandhardevi, which is as high as Tableland of Pachgani.</li>
                <li>Pandavgad: North side of Wai via Shelarwadi, known for pandava-caves, pandava's footprint of Bhim.</li>
                <li>Lohare Palpeshwar Caves: It is 5 km north of Wai and 39 km from Satara. Known for its art. This is cave of God Shiv. This cave is an example of the anacient Vastushastra. Situated in the village Lohare, near Wai.</li>
                <li>Kamalgad: It is 10 miles (16 km) west of Wai and 32 km from Satara. This fort sits in the middle of Dhom Dam.</li>
                <li>Paga Talim: Afzal Khan kept his horses here when came to Wai. Locals also gave him key information about the Mahabaleshwar forest and surroundings.</li>
                <li>Menawali: Birthplace of Nana Phadanvis, Peshwai administrator. The palace of Nana is in the menawali.</li>
                <li>Palpeshwar: Known for its historical caves.</li>
                <li>Panchgani: hill station.</li>
                <li>Mahabaleshwar: hill station. With one of the few evergreen forests of India, it served as the summer capital of Bombay province during the British Raj.</li>
                <li>Raste Wada in Motibag: ancient wada to visit.</li>
                <li>Laxmibai Wada in Bavdhan: Birthplace of the Queen of Jhansi Rani Laxmibai's mother. Large palace in the Village Bavdhan. Also there are caves in the hill of PachiDeval, dug by the Pandavas during their Vanvaas.</li>
                <li>Govardhan Sanstha (Goshala): This research institute, some 110 years old, launched a pioneer model project of electricity generation from cow dung. Institute's motto: not only is cow is sacred, she is useful in all aspects.</li>
                <li>Dhom and Dhom Balakwadi dams: Dhom Dam is situated on the Krishna and Kamandalu rivers, with capacity of 14 T.M.C. Balakwadi Dam on the Krishna is 19 km from Wai. Capacity is 4.08 TMC.</li>
                <li>Wind-power mill in Surur: Recent project in Shambhu Mahadev mountain range.</li>
                <li>Boat riding at Dhom Dam in Boriv Village.</li>
            </ul>        
                </h5>
        <h2><b>Getting Here</b></h2>
        <h5>Wai is easily accessible by road from major cities like Pune and Mumbai. The nearest railway station is in Satara.</h5>
    </div>
{% endblock %}
