{% extends "base.html" %}

{% block title %}Search Restaurants{% endblock %}

{% block content %}

        {% if restaurants %}
            <h3 class="mt-5">Restaurant Results</h3>
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <!-- Correct image path -->
                            <img src="{{ restaurant.image }}" class="card-img-top" alt="{{ restaurant.name }}" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title">{{ restaurant.name }}</h5>
                                <p class="card-text">Cuisine: {{ restaurant.cuisine_type }}</p>
                                <a href="{{ url_for('restaurant_details', restaurant_id=restaurant.id) }}" class="btn btn-info">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="mt-5">No restaurants found for the selected price range.</p>
        {% endif %}
    </div>
{% endblock %}
