{% extends "base.html" %}

{% block title %}Search Hotels in Wai{% endblock %}

{% block content %}

    {% if hotels %}
        <h3 class="mt-5">Hotel Results</h3>
        <div class="row">
            {% for hotel in hotels %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <img src="{{ hotel.image }}" class="card-img-top" alt="{{ hotel.name }}" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ hotel.name }}</h5>
                            <p class="card-text">Price: {{ hotel.rate }}</p>
                            <a href="{{ url_for('hotel_details', hotel_id=hotel.id) }}" class="btn btn-info">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="mt-5">No results found.</p>
    {% endif %}
</div>
{% endblock %}
