/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero Section */
.hero-section {
    background: url('/static/images/wai_hero_background.jpg') center center / cover no-repeat;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

/* Card Styles */
.card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

/* Footer Styles */
.footer {
    background-color: #34495e;
    color: white;
    padding: 15px 0;
    text-align: center;
}
